In [13]:
import pandas as pd
df = pd.DataFrame({'stock':['Apple','Microsoft','Tesla'],
                  'price':[150,200,180],
                  'quantity':[10,20,10]})

In [14]:
df.iloc[0]
# returns the very first row of a dataframe with all its columns

df.iloc[0,0]
# returns the first row of the first column

df.iloc[1:]
# skips to the second row

df.iloc[1:,0:2]
# skips the first row, returns the first column

df.iloc[1:,0:2]
# skips the first row, returns the first rows and two columns

       stock  price
1  Microsoft    200
2      Tesla    180

In [ ]:
df.loc[0]
# This time we are getting the row named 0, not the first one

df.loc[0,"stock"]
# This time we can specify the column by name

df.loc[0:,'stock']
# returns all rows wiithin the 'stock' column

df.loc[1:1,'stock':'price']
# 1:1 specifies a row slice from index 1 to index 1. This effectively selects only the row at index 1.
# 'stock':'price' specifies a column slice from the 'stock' column to the 'price' column (inclusive of both columns)

In [24]:
# checking conditions
df.price > 150

0    False
1     True
2     True
Name: price, dtype: bool

In [25]:
df[df.price > 150]

       stock  price  quantity
1  Microsoft    200        20
2      Tesla    180        10